.search {
	display: inline-block;
	position: relative;
}
.search input {
	font-size: 16px;
	border: none; /*http://stackoverflow.com/questions/19049674/border-radius-issue-with-input-type-text*/
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 6px 30px 6px 10px;
}
.search input:focus {
	border-color: #55aefa;
	box-shadow: 0 0 4px #55aefa;
}
.search .search-icon {
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -8px;
	font-size: 16px;
}
.search input:focus + .search-icon {
	color: #55aefa;
}

//set placeholder color

.search ::-webkit-input-placeholder { /* WebKit browsers */
    color: #9b9b9b;
}
.search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #9b9b9b;
   opacity: 1;
}
.search ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #9b9b9b;
   opacity: 1;
}
.search :-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #9b9b9b;
}
.search .placeholder {
	color: #9b9b9b;
}