.select {
	display: inline-block;
	position: relative;
	padding: 0 0 0 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	height: 2em;
	line-height: 2;
}
.select:hover {
	border-color: #55aefa;
	box-shadow: 0 0 4px #55aefa;
}

.select .select-label {
	float: left;
	height: 100%;
	cursor: pointer;
}

.select .select-down {
	float: right;
	position: relative;
	margin-left: 15px;
	height: 100%;
	width: 30px;
	background-color: #8fa2b7;
}
.select .select-down:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	left: 50%;
	top: 50%;
	margin-left: -6px;
	margin-top: -3px;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: #fff transparent transparent transparent;
}
.select .select-down:after {
	position: absolute;
	z-index: 2;
	content: "";
	width: 100%;
	height: 1px;
	bottom: -1px;
	left: 0;
}

.select .select-list {
	display: none;
	position: absolute;
	right: 0;
	top: 27px;
	background-color: #fff;
	border: 1px solid #ccc;
	cursor: pointer;
}
.select .select-down:hover .select-list {
	display: block;
}

.select .select-list .select-item {
	padding: 0 10px;
	white-space: nowrap;
	border-top: 1px solid #ccc;
}
.select .select-list .select-item.selected,
.select .select-list .select-item:hover {
	background-color: #f2f2f2;
}
.select .select-list .select-item:first-child {
	border-top: none;
}