.menu {
	font-size: 1em;
}
.menu .menu-item {
	position: relative;
	height: 100%;
	line-height: inherit;
}
.menu .menu-item .menu-link {
	display: block;
	white-space: nowrap;
	color: #555;
}
.menu .menu-item.current > .menu-link,
.menu .menu-item:hover > .menu-link {
	white-space: nowrap;
	color: #55aefa;
	background-color: #f9f9f9;
	-webkit-transition: color .3s ease, color .3s ease;
	   -moz-transition: color .3s ease, color .3s ease;
	    -ms-transition: color .3s ease, color .3s ease;
	     -o-transition: color .3s ease, color .3s ease;
	        transition: color .3s ease, color .3s ease;
}

/*hoziron*/
/*
	1.display inline-block
	2.menu height by height property
	3.item padding by item's padding property
	4.vertical middle (let line-height equals to height)
*/
.menu-hozirontal {
	display: inline-block;
	height: 3em;
	line-height: 3em;
	white-space: nowrap;
}
.menu-hozirontal .menu-item {
	float: left;
}
.menu-hozirontal .menu-item .menu-link {
	height: 100%;
	padding: 0 2em;
	color: #555;
}

/*vertical*/
/*
	1.display inline-block
	2.menu height by line-height property
	3.menu width by width
	4.item padding by item's padding property
*/
.menu-vertical {
	width: 100px;
	display: inline-block;
	line-height: 3em;
}
.menu-vertical .menu-item {
	width: 100%;
}
.menu-vertical .menu-item .menu-link {
	overflow: hidden;
	max-width: 100%;
	height: 100%;
	line-height: inherit;
	padding: 0 1em;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

/*dropdown*/
.menu .menu-item.menu-down:after{
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -3px;
	right: 10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: #555 transparent transparent transparent;
	-webkit-transition: transform .2s ease;
	   -moz-transition: transform .2s ease;
	    -ms-transition: transform .2s ease;
	     -o-transition: transform .2s ease;
	        transition: transform .2s ease;
}
.menu .menu-item.menu-down:hover:after {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.menu .menu-dropdown {
	position: absolute;
	display: none;
	min-width: 100%;
	/*top: 3em;*/
	top: 100%;
	left: 0;
	background-color: #fff;
	border-radius: 4px;
}
.menu .menu-item:hover .menu-dropdown{
	display: block;
}

.menu .menu-item .menu-dropdown .menu-item {
	border: 1px solid #f1f1f1;
	border-top: none;
}
.menu .menu-item .menu-dropdown .menu-item .menu-link {
	overflow: visible;
}

.menu .menu-item:hover .menu-dropdown .menu-item:first-child {
	border-top: 1px solid #f1f1f1;
}
.menu .menu-item:hover .menu-dropdown .menu-item .menu-link {
	/*padding: 0 0.5em;*/
	
}
.menu .menu-item:hover .menu-dropdown .menu-item .menu-link:hover {
	background-color: #f9f9f9;
}


